<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Projects/Java/MavenSeleniumJavaProject">
        <classes>
            <class name="day34.FirstTest"></class>
            <class name="day34.SecondTest"></class>
            <class name="day34.ThirdTestCase"></class>
        </classes>
    </test>
</suite>